/* index.css */
@tailwind base;
@layer base {
  body {
    @apply font-nunito;
    
  }
}
:root {
  font-family: "Nunito", sans-serif, "Inter", system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.dark {
  color: #fff;
  background-color: #212529;
}
.light {
  color: #212529;
  background-color: #fff;
}
