@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marko+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,500;1,6..12,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marko+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,500;1,6..12,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
